body {
    background-color: #fbfc55;
}

.movies{
    border:2px solid black;
    width:750px;
    height:299px;
    margin:15px;
    background-color:ivory;
    float:left;
    overflow:hidden;
}

.summary {
    border: 2px solid black;
    width: 850px;
    border-radius: 25px;
    margin: 25px;
    background-color: ivory;
}
